<%= form_for :user, url: {action: "update_user", params: {id: @user.id}}  do |f| %>

    <% if params[:section].blank? %>
        <fieldset>
          <legend><%= t('forms.legends.update_user') %></legend>
          <div class="field">
            <%= f.label :first_name %>
            <br>
            <%= (f.text_field :first_name, :class => "input_cell", :ajaxURL => "/search_first_name") rescue "" %>
          </div>

          <div class="field">
            <%= f.label :middle_name %>
            <br>
            <%= (f.text_field :middle_name, :class => "input_cell", :ajaxURL => "/search_first_name", :optional => :true) rescue "" %>
          </div>
          <div class="field">
            <%= f.label :fathers_name %>
            <br>
            <%= (f.text_field :fathers_name, :class => "input_cell", :ajaxURL => "/search_last_name") rescue "" %>
          </div>
          <div class="field">
            <%= f.label :mothers_name %>
            <br>
            <%= (f.text_field :mothers_name, :class => "input_cell", :ajaxURL => "/search_last_name") rescue "" %>
          </div>
        </fieldset>

        <fieldset>
          <legend><%= t('forms.legends.update_user') %></legend>
          <div class="field">
            <%= f.label :user_role %>
            <br>
            <%= select_tag "user[user_role]", options_for_select(roles, (@user.role rescue nil)),
                           :class => 'input_cell', :placeholder => "Select user role", :required => true  %>
          </div>
        </fieldset>
    <% else %>
        <fieldset>
          <legend><%= t('forms.legends.update_password') %></legend>
          <div class="field">
            <%= f.label :password %>
            <br>
            <%= f.password_field :password, :class => "input_cell", :placeholder => "Password",
                                 :required => true, :textCase => "lower" %>
          </div>
          <div class="field">
            <%= f.label :confirm_password %>
            <br>
            <%= f.password_field :confirm_password, :class => "input_cell",
                                 :placeholder => "Confirm the password entered", :required => true,
                                 :textCase => "lower" %>
          </div>


        </fieldset>
    <% end %>
    <input id="section" name="section" value="<%= params[:section] %>" type="hidden"/>
<% end %>

<script type="text/javascript">
    init();
</script>