<style>

    .record td {
        font-size: 18px;
        font-style: italic;
        color: #000;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

</style>

<fieldset>
  <legend>
   <%= t('forms.legends.user_details') %>
  </legend>

  <fieldset style="border: 1px solid #eee;">
    <table class="record" style="margin: auto;" cellpadding="10" cellspacing="5">
      <tr>
        <td colspan="3">
          <p id="notice"><%= notice %></p>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.username')%>:</strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.username %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.first_name')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.first_name %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.middle_name')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.middle_name %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.mothers_name')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.mothers_name %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.fathers_name')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.fathers_name %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('forms.labels.user_role')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= t('forms.options.' + @user.role.downcase) %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t('menu.terms.created')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.created_at.to_date.strftime("%d/%b/%Y") rescue nil %>
        </td>
      </tr>

      <tr>
        <td>
          <strong><%= t('menu.terms.updated')%></strong>
        </td>
        <td>
          :
        </td>
        <td>
          <%= @user.updated_at.to_date.strftime("%d/%b/%Y") rescue nil %>
        </td>
      </tr>

    </table>

  </fieldset>

</fieldset>

<button id="btnAction" class="blue" style="position: absolute; right: 290px; bottom: 20px;" onclick="window.location = '<%= edit_user_path(@user) + "?section=password" %>'"><%= t('forms.buttons.change_password')%></button>
<button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="window.location = '<%= edit_user_path(@user) %>'"><%= t('forms.buttons.edit')%></button>