<!DOCTYPE=HTML>
<html>
<head>
  <title>Patient Dashboard</title>
</head>
<body>

<div id="home">

  <input type="text" id="appname" value="<%= t('menu.terms.patient_registration').split(' ').join("<br/>") %>" />

  <div id="patient-card">

    <input type="text" id="gender" value="<%= @patient.gender[0].upcase %>" />

    <input type="text" id="name" value="<%= @patient.fullname %>" />

    <input type="text" id="Patient ID" value="<%= @patient.formatted_pnid %>" />

    <input type="text" id="<%= t('menu.terms.age') %>" value="<%= @patient.age %>" />

    <input type="text" id="<%= t('menu.terms.national_id') %>" value="<%= @patient.nat_id %>"  />

    <input type="text" id="<%= t('menu.terms.maritals_status') %>" value="<%= t('forms.options.' +@patient.marital_status.downcase).titleize %>" />

  </div>

  <div id="buttons">
    <button onmousedown="window.location = '/'">Finish</button>
    <button onmousedown="window.location = '/print_barcode?patient_id=<%=@patient.id%>'">print_barcode</button>
    <button onmousedown="window.location = '/demographics/<%=@patient.id%>'">edit_demographics</button>
  </div>

  <select id="tabs">
    <option value="/visit_summary/<%=@patient.id%>">summary</option>
  </select>
</div>

    <%= javascript_include_tag 'dashboard' %>

</body>
</html>