<!DOCTYPE=HTML>
<html>
<head>
  <title>Patient Dashboard</title>
  <script>
      var barcodeDestination = "/search_by_patient_id";

      function scanFocus()
      {
          __$('targetbarcode').focus();

      }

      setInterval("scanFocus()", 3000);
  </script>

</head>
<body>

<div id="main">

  <input type="text" id="appname" value="<%= t('menu.patient_registration').split(' ').join("<br/>") %>" />
  <input type="text" id="facility" value="San Jose del Negrito" />
  <input type="text" id="location" value="San Pedro Sula" />
  <input type="text" id="datetoday" value="<%= Date.today.strftime('%d %B %Y') %>" />
  <input type="text" id="user" value="<%= User.current.fullname %>" />

  <div id="buttons">
    <button onmousedown="window.location = '/patients/new'"><%= t('menu.register') %></button>
    <button onmousedown="window.location = '/search_by_name'"><%= t('menu.find_by_name') %></button>
    <button onmousedown="window.location = '/logout'" style="float: left">Logout</button>
  </div>

  <select id="tabs">
    <option value="/summary"><%= t('menu.overview') %></option>
    <option value="/administration"><%= t('menu.administration') %></option>
  </select>

</div>

</body>
<%= javascript_include_tag 'dashboard' %>
</html>